<link rel="stylesheet" href="styles/page-initial.css">
<link rel="stylesheet" href="styles/responsive.css">



<form action="/time" method="GET" class="container">

    <div class="drag-div">
        <a href="/drag" class="go-to-drag" target="_blank">Drag and Drop aqui!</a>
    </div>
    
    <div class="counter">
        <h1>Contador</h1>
    </div>

    <div class="date">
        <span>Informe a quantidade de minutos</span>
        <input type="text" id="time" name="inputTime" placeholder="Minutes..." autocomplete="off" required>
    </div>

    <a onclick="change()" class="a-wave">
        <span>Iniciar</span>
        <div class="wave"></div>
    </a>

    <div id="modal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>ERRO</h2>
            </div>
            <div class="modal-main">
                <p>Algo deu errado  :(  digite novamente!</p>
            </div>

        </div>

    </div>

    <div class="links">
        <a href="https://github.com/Juniordell" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nelson-dellosbel-junior-ba80211ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

</form>



<script src="scripts/initial.js"></script>