.container {
    background-color: #fff;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-div {
    position: absolute;
    top: 50px;
    text-align: center;
}

.go-to-drag {
    text-decoration: none;
    font-size: 23px;
    color: var(--main-color);
}

.go-to-drag:hover {
    color: var(--secondary-color);
}

.counter {
    color: var(--main-color);
    font-size: 25px;
    font-size: 2.1rem;
    margin-bottom: 10px;
}

h1::after {
    content: "|";

    color: var(--secondary-color);

    margin-left: 4px;
    opacity: 1;

    animation: blink 0.6s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.date {
    color: rgb(97, 97, 97);

    height: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.date span {
    font-size: 28px;

    margin-bottom: 10px;
}

.date input {
    border-radius: 25px;
    border: 2px solid var(--main-color);

    font-size: 18px;
    font-weight: bold;

    outline: none;

    width: 180px;

    padding: 17px;

    transition: .7s;

    color: rgb(65, 65, 65);
    background-color: #ffffff;
}

.date input:focus {
    padding: 17px 130px;

    padding-left: 20px;
}

.a-wave {
    position: relative;
    display: block;

    border: 2px solid #00aeff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

    padding: 10px 30px;

    cursor: pointer;
    overflow: hidden;

    margin-top: 20px;

    color: #00aeff;

    font-size: 25px;
}

.a-wave span {
    position: relative;

    z-index: 1;

    transition: 1;
}

.a-wave:hover span {
    color: #fff;
}

.a-wave .wave {
    position: absolute;

    top: calc(100% + 22px);
    left: 0;

    width: 100%;
    height: 100%;

    background: #00aeff;

    transition: 1s;
}

.a-wave:hover .wave {
    top: 0;
}

.a-wave .wave::before {
    content: "";
    position: absolute;

    top: -22px;
    left: 0;

    width: 100%;
    height: 22px;

    background: url("../assets/images/wave.png");

    animation: anim 0.5s linear infinite;
}

@keyframes anim {
    0% {
        background-position-x: 0;
        background-position-y: -22px;
    }
    100% {
        background-position-x: 118px;
        background-position-y: -22px;
    }
}

.modal {
    display: none;
    position: fixed;

    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;

    margin: 15% auto;
    padding: 0 17px 17px 17px;

    border: 1px solid #888;

    width: 60%;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-main {
    font-size: 20px;
}

.close {
    color: #aaa;

    float: right;

    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;

    text-decoration: none;

    cursor: pointer;
}

.modal-header {
    width: 100%;
    padding: 2px 16px;

    background-color: #a12d2d;
    color: white;
}

.links {
    padding-top: 30px;
    width: 60px;

    font-size: 25px;

    display: flex;
    justify-content: space-between;
}

.links i {
    color: var(--secondary-color);
}